.cont-cont {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #cacaca80;
    border-radius: var(--pico-border-radius);
    padding: 1rem;
    margin: 1rem;
}

.flex-spacer {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

#wheel-canvas-wrapper {
    aspect-ratio: 1 / 1;

    flex: 0 0 auto;

}

#wheel-canvas {
    width: 100%;
    height: 100%;
}

#name-list-wrapper {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;

    overflow-x: hidden;
}

@media (min-width: 1024px) {
    #wheel-canvas-wrapper {
        max-height: 80vh;
    }
}

@media (max-width: 1024px) {
    .flex-col-small {
        flex-direction: column;
    }

    #main-wrapper {
        /*flex-direction: column;*/
    }

    #name-list-wrapper {
        max-height: 100%;
    }
}

#name-list-wrapper h1 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#name-list li {
    list-style-type: none;

    max-lines: 1;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow-x: hidden;
}

#name-list {
    padding-left: 0;
    overflow-y: scroll;
}

#name-list button {
    margin-right: 0.5rem;
    padding: 0.5rem;
    line-height: 1;
}